body{
    background-color: #fbc687;
}

h1{
    font-size: 80px;
    color: #ea907a;
    font-family: 'Permanent Marker', cursive;
    margin-left: 60px;
    margin-bottom: 30px;
}


.box{
    object-fit: contain;
    position: relative;
    border: solid #f4f7c5;
    border-width: 15px;
    width: 100%;
    padding: 50px;
    font-size: 15px;
    color: #ea907a;
}

img{
    object-fit: contain;
    position: relative;
    min-height: 100%;
    min-width: 100%;
    width: 0;
}

.nav{
    background-color: #ea907a;
    float: none;
}

.nav a{
    display: block;
    width: fit-content;
    margin-right: 0px;
    line-height: 40px;
    background-color: #f4f7c5;
    color: #ea907a;
    font-family: 'Work Sans', sans-serif;
}

.nav a:hover{
    background-color: #aacdbe;
    color: #ea907a;
}